@font-face {
  font-family: "SuisseIntl-Light";
  src: url("../fonts/SuisseIntl-Light.woff") format("woff2"),
    url("../fonts/SuisseIntl-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SuisseIntl-SemiBold";
  src: url("../fonts/SuisseIntl-SemiBold.woff") format("woff2"),
    url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/SuisseIntl.woff") format("woff2"),
    url("../fonts/SuisseIntl.woff2") format("woff2");
}