@import './reset.scss';
@import './colors.scss';
@import './fonts.scss';
@import './typography.scss';
@import './media.scss';

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  @include mobileSm {
    padding: 0 10px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}